body {
  /* Location of the image */
  background-image: url(english_bg3.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

}



* { box-sizing: border-box; }


.container {
 padding:2em;
}


/* input styles */

h1 {
  color:#fff;
  text-align: center;
  letter-spacing:0.2em;
  padding:.2em 0;
  margin: .2em 0;
  font-weight:bold;
}

.form-container {
  float:left;
  background-color:rgba(0,0,0,.3);
  border-radius:.2em;
  margin:0 0 2em 0;
  padding:0.5em;
}

.form-container form {

}

input {
 display:block;
 margin:0em;
 height:4em;
 width:400px;
 padding:0.5em;
 font-size:1.5em;
 margin-bottom:0.5em;
}

.submit-button {
 font-size:1em;
 padding:1em;
 background:#fff;
 border:1px solid #ccc;
 border-radius:5px;
 width:100%;
}



button:hover {
  background-color:#404040;
  background:#404040;
  color:#fff;
  cursor:pointer;
  font-weight:bold;

 }


/* output styles  */

h2 {
  color:#fff;
  text-align: center;
  letter-spacing:0.2em;
  padding:.2em 0;
  margin: .2em 0;
  font-weight:bold;
  font-size:1.5em;
}



.display-container {
  float:right;
  width:600px;
  border:0px solid #ccc;
  }

ul {
   margin:0;
   padding:0.5em 0.5em .25em 0.5em;
   border:0px solid #000;
   list-style-type:none;
   font-size:1.5em;
   max-width:100%;
   border-radius:0.2em;
   background-color:rgba(0,0,0,.3);
}


ul li {
  border-radius:.2em;
  padding:0.75em 0.5em;
  margin:0 0 0.5em 0;
  border:1px solid #ccc;
  background:#fff;
  color:#404040;
  position:relative;



}

.name {

}

.email {
  float:right;
  margin-right:2em;
}


.close-item {
  float:right;
  border-radius:.3em;
  padding:.5em;
  color:#404040;
  background:#fff;
  position:absolute;
  top:18px;
  right:10px;
  border:2px solid #ccc;
  margin-left:1em;
  font-size:0.5em;
  opacity:50;
}

.close-item:hover {
  cursor: pointer;
  color:#fff;
  background:rgba(0,0,0,.3);
  opacity:100


}



@media (max-width: 1200px) {
body {
  margin:0 auto;
  text-align:center;
}


.container {
    margin:0 auto;
}


.center-me {
  border:0px solid green;
  max-width:100%;
  display:inline-block;
  text-align:left;
}


input {
 width:100%;
 margin:0;
}


.form-container {
  float:none;
  max-width:600px;
  text-align:center;
}


.submit-button {
 margin-top:0.5em;
 }

.display-container {
  float:none;
  max-width:100%;
}


}


@media (max-width: 800px) {
.form-container {
 border:0px solid #000;

}

form {
}

input {
  max-width:100%;
  margin:0;
  font-size:1em;

}

.display-container {
}


.name {/*
 display:block;
*/}

.email {
 float:none;
 display:block;
 font-size:.8em;
 }
